<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:insert="~{fragments/header.html :: header}"></header>
<head>
    <meta charset="UTF-8">
    <title>My ToDo App</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
    <h1>Welcome to My ToDo App</h1>

    <p>Get started:</p>
    <ul>
        <li><a th:href="@{/secure/insertTask}">Add a Task</a></li>
        <li><a th:href="@{/secure/tasksList}">View Task List</a></li>
    </ul>
<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>
</html>
